// sass scss/lightbox.scss css/lightbox.css
$light: #eeeeee;
$gray: #444444;


.open-lightbox{
    cursor: pointer;
}

.lightbox{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -10;
    opacity: 0;
    transition: opacity 0.25s ease;
    background-color: rgba(black, 0.8);
    .lightbox-inner{
        width:100%;
        height:100%;
        background-color: white;
        border:1px solid $light;
        box-shadow: 0 0 20px rgba(black, 0.1);
        overflow-y: auto;
        position:relative;
        overflow-y: visible;
        display: flex;
        @media(min-width:768px){
            width:90vw;
            height: auto;
            max-width:1200px;
            max-height:clamp(350px, calc( 90vh - 80px), 600px);
            border:1px solid $light;
            border-radius: 8px;
            &.lightbox-inner-md{
                max-width:850px;
            }
            &.lightbox-inner-sm{
                max-width:650px;
            }
        }
        .lightbox-content{
            overflow-y: auto;
            max-height:100vh;
            padding:50px 50px;
            @media(min-width:768px){
                max-height:calc( 90vh - 80px);
                &.lightbox-media-text{
                    display: flex;
                }
            }
        }
        
        .close-lightbox{
            position:absolute;
            right:8px;
            top:8px;
            cursor: pointer;
            width:32px;
            height: 32px;
            border-radius: 99px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width:20px;
                path{
                    fill: $gray;
                }
            }
            &:hover{
                opacity: 0.9;
            }
            @media(min-width:768px){
                right:12px;
                top:12px;
            }
        }
        .lightbox-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 6px;
            @media(min-width:768px){
                position: sticky;
                top: 0;
                left: 0;
                width:30%;
            }
        }
        .lightbox-right{
            max-width:700px;
            margin:24px auto 0;
            @media(min-width:768px){
                max-width:1000px;
                margin:0;
                width:70%;
                height: 100%;
                overflow-y: auto;
                padding-left:40px;
                position:relative;
            }
            .lightbox-right-header{
                text-align: center;
                @media(min-width:768px){
                    position: sticky;
                    top:0;
                    left:0;
                    background-color: white;
                    padding-bottom: 4px;
                    text-align: left;
                }
            }
        }
    }
    &.lightbox-open{
        z-index:200;
        opacity: 1;
    }
}